
body{
    background-color: #000000;
    color:#ffffff;
}

h1{
    color: #ffffff;
    text-align: center;
}

.btn{
    background-color: #ffffff;
    color: #000000;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}