*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

    /* Classes */    
.h1{}
.h2{}
.h3{}
.h4{}
.h5{}
.p{}

.section-dark-io{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenct-dark-io{
    width: 100%;
    height: 4vh;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.section-table{
    width: 100%;
    height: 60vh;

    display: flex;

}

    /* Tags */

body{
    background-color: #000000;
    color: #ffffff;
}

header{
    margin-bottom: 0px;
    background-color: #050030;
    text-align: center;
    box-shadow: 0px 0.1px 20px #2e4dff85;
}

input{
    outline: none;
    
    border: 2px solid #005085;
    border-radius: 5px;
}

body section .btn{
    margin: 5px 50%;
    width: 100px;
    background-color: rgb(36, 209, 2);
    color: #ffffff;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    
}

body section .btn:hover{
    background-color: rgb(27, 165, 0);
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    
}

ul{
    margin: 0;
    width: 70%;

    color: rgb(100, 185, 255);
    border: 2px solid white;
    list-style: none;
}

ul li{
    margin: 1.5px;
}

ul li:hover{
    background-color: #005085;
}